/* boilerplate*/

* {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/*variables*/

:root {
    --dark-blue: #1F2937;
    --main-white: #f9faf8;
    --secondary-white: #e5e7eb;
    --button-blue: #3882f6;
    --img-gray: #6d747d;
    --information-header: #1f2937;
    --dark-grey: #494e53;
}

/* coloring and font */

html {
    font-family: Helvetica, sans-serif;
}

header {
    background-color: var(--dark-blue);
    color: var(--main-white);
   
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.header-links,
.title-left p {
    font-size: 18px;
    color: var(--secondary-white);
}

.title-left h1 {
    font-size: 48px;
    font-weight: 1000;
}

.title-left button {
    color: var(--main-white);
    background-color: var(--button-blue);
    font-size: 18px;
    font-weight: 700;
    border: none;
}

.img-container {
    background-color: var(--img-gray);
}

.cards-section h2 {
    color: var(--information-header);
    font-size: 36px;
    font-weight: 1000;
}

.card-container {
    border: 3px solid var(--button-blue);
}

.cards-section p {
    font-size: 18px;
    color: var(--dark-grey);
}

.quote-container {
    background-color: var(--secondary-white);
    color: var(--dark-blue);
}

.quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}

.author p {
    font-size: 24px;
    font-weight: 1000;
    font-style: normal;
}

.sign-up-box {
    background-color: var(--button-blue);
    color: var(--main-white);
}

.sign-up-box p {
    font-size: 18px;
}

.sign-up-box h2 {
    font-size: 28px;
}

.sign-up-box button {
    border: 2px solid var(--main-white);
    background-color: inherit;
    color: inherit;
    font-weight: 700;
    font-size: 20px;
}

footer {
    background-color: var(--dark-blue);
    color: var(--main-white);
    font-size: 18px;
}

/* flex and alignment - header */

.header-subcontainer {
    min-width: 800px;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.upper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header-links {
    display: flex;
    gap: 20px;
}

.title-section {
    display: flex;
    justify-content: space-between;
    height: 230px;
    gap: 25px;
    padding: 100px 0;
}

.title-left {
    width: 450px;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.title-left button {
    border-radius: 10px;
    padding: 10px 35px;
}

.img-container {
    width: 450px;
    height: 230px;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* flex and alignment - cards section */

.cards-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 15px 100px 15px;
    margin: 0 auto;
    gap: 50px;
}

.cards-section ul {
    display: flex;
    gap: 50px;
}

.cards-section li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cards-section p {
    display: block;
    width: 170px;
    text-align: center;
}

.card-container {
    border-radius: 20px;
    width: 170px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* flex and alignment - quote section */

.quote {
    max-width: 800px;
    margin: 0 auto;
    padding: 150px 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.author {
    align-self: flex-end;
}

/* flex and alignment - sign up box */

.sign-up-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 15px;
}

.sign-up-box {
    border-radius: 15px;
    min-width: 500px;
    padding: 70px 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sign-up-box button {
    border-radius: 10px;
    padding: 10px 30px;
    min-width: 150px;
}

.sign-up-content-left {
    margin-right: 120px;
}

/* flex and alignment - footer */

footer {
    padding: 50px 15px;
    text-align: center;
}